
/**Base**/
* {
    box-sizing: border-box;
    font-family: sans-serif;
  }

h1 {
    font-size:175%;
    margin-bottom: 15px;
    text-align: center;
}

section {
    font-size:125%;
    border: 1px solid black;
    margin: 1%;
    background-color:antiquewhite;
    width: 92%;
    padding-left :  1%;
    padding-bottom :  1%;
    text-align: right;
}

h3 {
    text-align: right;
    display: inline-block;
    border: 1px solid black;
    margin-top: 0%;
    margin-right: 0%;
    padding: 1%;
}
p {
    text-align: left;
}
#sec1 h3 {
    background-color: olive;
}
#sec2 h3{
    background-color:sandybrown;
}
#sec3 h3{
    background-color:rosybrown;
}

.row {
    width: 100%;
}

/**Desktop**/
@media (min-width: 992px) {
    .col3 {
        float: left;
        width: 30%
    }
}

/**Tablet**/
@media (min-width: 768px) AND (max-width: 991px){
    .col2 {
        float: left;
        width: 45%
    }
    .col1 {
        float: left;
        width: 92%        
    }
}

